
<div class="loading" *ngIf="isLoading"></div>
<div class="container mt-5">
    <h2 class="text-center mb-4">Forgot Password</h2>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <!-- Email Address Field -->
      <div class="form-group mb-3">
        <label for="email">Email Address</label>
        <input id="email" formControlName="email" type="email" class="form-control" placeholder="Enter your registered email" />
        
        <!-- Email Validation Error Message -->
        <div *ngIf="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched" class="text-danger mt-2">
          <div *ngIf="forgotPasswordForm.get('email')?.errors?.['required']">Email is required.</div>
          <div *ngIf="forgotPasswordForm.get('email')?.errors?.['email']">Please enter a valid email address.</div>
        </div>
        <a routerLink="/regester"> Register </a>
        <a routerLink="/login"> login </a>
      </div>
  
      <!-- Submit Button -->
      <div class="form-group text-center">
        <button type="submit" [disabled]="forgotPasswordForm.invalid" class="btn btn-primary w-100 py-2">
          Submit
        </button>
      </div>
    </form>
  </div>
  